<mat-toolbar color="primary">Todo Dashboard</mat-toolbar>

<mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>
        <mat-selection-list #employees [multiple]="false">
            <mat-list-option [selected]="true" routerLink="/dashboard">
                Dashboard
            </mat-list-option>
            <mat-list-option routerLink="/employees">
                Employees
            </mat-list-option>
            <mat-list-option routerLink="/todos">
                Todos
            </mat-list-option>
        </mat-selection-list>
    </mat-drawer>
    <mat-drawer-content>
        <div class="dashboard">
            <router-outlet></router-outlet>
        </div>
    </mat-drawer-content>
</mat-drawer-container>