* {
    box-sizing: border-box;
    
  }



.column {
    float: left;
    width: 50%!important;
    padding: 10px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
