<div class="row">
    <div class="column">
        <h2>Employees</h2>
        <mat-selection-list #employees [multiple]="false">
            <mat-list-option *ngFor="let employee of allEmployees" (click)="onEmployeeSelected(employee)">
                {{employee.firstName}} {{employee.lastName}},
            </mat-list-option>
        </mat-selection-list>
    </div>
    <div class="column">
        <h2>Todo Items</h2>
        <mat-selection-list #todos [multiple]="false">
            <mat-list-option *ngFor="let todo of allTodos" (click)="onTodoSelected(todo)">
                {{todo.title}}
            </mat-list-option>
        </mat-selection-list>
    </div>
</div>